body{
  background-color: beige;
}
.ul{
  color: #8c7569;
  text-transform: uppercase;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  letter-spacing: 0.7px;
  font-weight: 600;
  font-size: 11px;
  
}
.li{
  text-decoration: none;
}


.ul input {

  outline: 0;
  border: 0;
  padding: 4px 0 0;
  font-size: 14px;
  margin-top: 4px;
  width: 10rem;
  height: 1rem;
  margin-bottom: 20px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.374), -3px 0 0.2em rgba(0, 0, 0, 0.379);
  
}
.ul input[type=text] {
  padding:2px;
  font-size: 12px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
}
.ul input[type=email] {
  padding:2px;
  font-size: 12px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
}
.ul input[type=password] {
  padding:2px;
  font-size: 12px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
} 